<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= team.website %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= team.logo %>
  </p>

</div>
